section.team.layout-none.dark-block#team
	h3 Наша команда
	.team__row.row
		.team__item.img__empty
			.team__item--avatar
				img(src="../img/mikhail.png")
			.team__item--text
				.team__item--who Михаил Петров
				p.team__item--descr Директор по развитию бизнеса и направления оформления паспортов.
		.team__item.img__empty
			.team__item--avatar
				img(src="../img/ekaterina.png")
			.team__item--text
				.team__item--who Екатерина Минаева 
				p.team__item--descr Директор направления организации деловых мероприятий. 
		.team__item.img__empty
			.team__item--avatar
				img(src="../img/vasily.png")
			.team__item--text
				.team__item--who Василий Казаков 
				p.team__item--descr Директор направления MICE