section.visa#visa
	h2 Визовое обслуживание, внж
	p Возможности открытого мира - путешествия без виз. Оформление виз и поддержка в получении ВНЖ в любых странах мира: мы поможем вам получить необходимые документы для путешествий и работы за рубежом, чтобы Ваша поездка была максимально безопасной и комфортной. В нашу группу компаний входит сервис по получению ВНЖ и паспортов "Зеленый Коридор" <a href="https://www.channelverde.com" target="_blank">www.channelverde.com</a>. Наши специалисты помогут вам получить необходимые документы для путешествий и работы в других странах, чтобы ваше путешествие было максимально безопасным и комфортным.
	section.show-more
		.show-more__item
			button.show-more__button(type='button') Показать ещё
			.show-more__content
				p Наиболее популярные направления для оформления виз включают:
				ul
					li Великобританию: мы поможем с оформлением визы на краткосрочное или долгосрочное пребывание в Объединенном Королевстве, включая туристические, учебные и бизнес-визы.
					li Страны Шенгенской зоны: мы поможем вам оформить визы для путешествий в страны ЕС, включая Германию, Францию, Испанию Италию и другие.
					li ОАЭ: получение визу на долгосрочное пребывание в ОАЭ, включая инвестиционные и бизнес-визы.
					li Страны Латинской Америки - наиболее популярное сегодня направление для получения вида на жительство и второго гражданства для россиян: мы предоставляем помощь в оформлении ВНЖ для стран Латинской Америки, включая Аргентину, Мексику, Парагвай, Уругвай, Бразилию и другие.
					li Другие страны: мы также поможем вам получить визы для других стран мира, в зависимости от ваших потребностей и запросов.