header.header
    a.logo
        h1 RUBYMICE
    nav.header-menu
        ul.header-menu__list
            li.header-menu__item <a href='#services'>Наши услуги</a>
            li.header-menu__item <a href='#tourism'>Деловой туризм</a>
            li.header-menu__item <a href='#visa'>Визовое обслуживание</a>
            li.header-menu__item <a href='#event-service'>Event-service</a>
            li.header-menu__item <a href='#service-procedure'>Порядок оказания услуг</a>
            li.header-menu__item <a href='#companies'>Клиенты</a>
            li.header-menu__item <a href='#team'>Команда</a>
            li.header-menu__item <a href='#contacts'>Контакты</a>
    include ../../components/burger/burger