section.structures
	h4 Государственные структуры и компании
	p Наша команда также имеет опыт работы с государственными структурами, такими как Департамент труда и социальной защиты населения города Москвы, ЦПКиО им. Горького и киноконцерном "Союзмульфильм". Мы организовали множество мероприятий для этих организаций, включая конференции, фестивали и выставки. Наша команда готова предоставить вам полный спектр услуг по организации мероприятий для государственных структур, включая аренду помещений, размещение и транспортировку гостей, техническую поддержку и многое другое.
	p Наши специалисты с 2015 года по сегодняшний день осуществляют организацию выездных конференций по городам РФ, Европы и Азии для ПАО «Совкомбанк»
	p С 2020 года мы также предоставляем туристический сервис РСПП (Российский союз промышленников и предпринимателей)