section.services#services
	h2 Наши услуги
	.services-items.row
		a.services-item(href="#tourism")
			.services-item__photo.img__empty
				img(src="../img/girl.png")
			.services-item__text
				h6.services-item__heading Деловой туризм
				//- p.service-items__descr Lorem ipsum dolor sit amet.
		a.services-item(href="#visa")
			.services-item__photo.img__empty
				img(src="../img/visa.png")
			.services-item__text
				h6.services-item__heading Визовое обслуживание ВНЖ
				//- p.service-items__descr Lorem ipsum dolor sit amet.
		a.services-item(href="#event-service")
			.services-item__photo.img__empty
				img(src="../img/audience-2.png")
			.services-item__text
				h6.services-item__heading Event-service
				//- p.service-items__descr Lorem ipsum dolor sit amet.