.slider.swiper#slider.layout-none__slider
    .slider-wrapper.swiper-wrapper
        .slider-slide.swiper-slide
            img.rusal(src='img/rusal.png')
        .slider-slide.swiper-slide
            img(src='img/uralsib-capital.png')
        .slider-slide.swiper-slide
            img.aijk(src='img/aijk.png')
        .slider-slide.swiper-slide
            img(src='img/deutsche-bank.png')
        .slider-slide.swiper-slide
            img(src='img/vtb-insurance.png')
        .slider-slide.swiper-slide
            img(src='img/vtb-kapital.png')
        .slider-slide.swiper-slide
            img.fond(src='img/fond.png')
        .slider-slide.swiper-slide
            img(src='img/loreal.png')
    //- .slider-navigation
    //-     .slider-pagination.swiper-pagination#slider-pagination
    //-     .slider-button-prev.swiper-button-prev
    //-     .slider-button-next.swiper-button-next