section.numbers.layout-none.dark-block
	h2 RUBYMICE в цифрах
	.numbers__row.row
		.numbers__item
			p Более
			div.numbers__item--number 18
			p лет на рынке
		.numbers__item
			p Более
			div.numbers__item--number 150
			p представителей крупного бизнеса выбирают нашу компанию 
		.numbers__item
			p Более
			div.numbers__item--number 1000
			p туров
		.numbers__item
			p Более
			div.numbers__item--number 300
			p деловых мероприятий сделано с нашим участием