.contacts
	p.subtitle Москва, ул. Моховая, д. 7, офис компании RUBYMYCE
	.contacts__icons
		a(href="https://wa.me/+79038169165" target="_blank")
			+sprite("phone", "img/sprites/sprite.svg#phone")
		a.subtitle(href="mailto:v.kazakov@rubymice.ru") 
			+sprite("envelope", "img/sprites/sprite.svg#envelope")