main.main
    .main__row
        .main-text.row
            h1.main-text__title Деловой <br><span>туризм</span>
            p.main-text__subtitle Визы, логистика, организация  мероприятий под ключ
        p.main-subtext С нами просто