section.about-mice.layout-none
	blockquote Mice - профессиональная услуга по организации и туристическому сопровождению деловых мероприятий, которая помогает бизнесу оптимизировать ресурсы, повышать эффективность и извлекать доход.