section.service-procedure.layout-none.dark-block#service-procedure
	h3 Порядок оказания услуг
	.service-procedure__row.row
		.service-procedure__item
			.service-procedure__item--number 01
			p.service-procedure__item--name Консультация
		.service-procedure__item
			.service-procedure__item--number 02
			p.service-procedure__item--name Помощь в составлении ТЗ
		.service-procedure__item
			.service-procedure__item--number 03
			p.service-procedure__item--name Коммерческое предложение
		.service-procedure__item
			.service-procedure__item--number 04
			p.service-procedure__item--name Креативная концепция
		.service-procedure__item
			.service-procedure__item--number 05
			p.service-procedure__item--name Реализация проекта
		.service-procedure__item
			.service-procedure__item--number 06
			p.service-procedure__item--name Отчет о проделанной работе