section.tourism#tourism
	h2 Деловой туризм
	p.subtitle Конгрессно - выставочные услуги
	p Компания Rubymice предоставляет полный спектр услуг по организации выставок и конгрессов для корпоративных клиентов. Работая с нами, вы можете рассчитывать на высокий уровень профессионализма и качества услуг. Наша команда имеет обширный опыт в организации различных мероприятий, включая конгрессы, выставки и деловые встречи.

	p Мы предоставляем комплексные решения, включающие в себя аренду помещений, организацию транспорта и размещения участников, обеспечение технической поддержки, организацию кофе-брейков и обедов, разработку маркетинговых материалов и многое другое.

	section.show-more
		.show-more__item
			button.show-more__button(type='button') Показать ещё
			.show-more__content
				p Работая с компанией Rubymice, вы можете быть уверены в том, что ваше мероприятие будет организовано на высшем уровне и пройдет без сбоев.
				ul
					li Организация транспорта и размещения участников.
					li Обеспечение технической поддержки на мероприятии (перевод, секретарские услуги, охрана и т.д.).
					li Организация кофе-брейков и обедов.
					li Поиск подходящих помещений для проведения конгресса или выставки, семинара или деловой встречи, с учетом числа участников, местоположения и других факторов.
					li Организация аренды необходимого оборудования (звуковое, световое, проекционное и т.д.).
					li Организация транспорта и размещения участников.
					li Обеспечение технической поддержки на мероприятии (перевод, секретарские услуги, охрана и т.д.).
					li Разработка маркетинговых материалов для мероприятия.

	p.subtitle Путешествия и туры

	p MICE-туризм включает в себя следующие услуги:
	p <strong>Для компаний</strong>
	ul
		li Организация корпоративных мероприятий
		li Бронирование отелей и авиабилетов для командировок
		li Фрахт самолетов, вертолетов и яхт
		li Трансферы и экскурсии для деловых партнеров
		li Аренда вилл для корпоративных мероприятий
		li Консьерж-сервис для сотрудников
	p <strong>Для частных лиц</strong>
	ul 
		li Организация индивидуальных туров
		li Бронирование отелей и авиабилетов
		li Аренда автомобилей
		li Трансферы и экскурсии
		li Аренда яхт
		li Аренда вилл
		li Консьерж-сервис
	p <strong>VIP-обслуживание</strong>
	ul
		li Организация VIP-туров: наши специалисты смогут организовать незабываемые туры для VIP-клиентов по всему миру, с учетом их личных предпочтений и интересов. Мы предоставляем услуги индивидуального гида, переводчиков, а также возможность посещения закрытых мест и эксклюзивных мероприятий.
		li Бронирование отелей и авиабилетов: мы предоставляем услуги по бронированию гостиниц и авиабилетов по всему миру, нам доступны редкие и эксклюзивные курорты и отели даже в высокий сезон.
		li Организация VIP-прохода в аэропортах: наши клиенты смогут избежать очередей на таможне, получении багажа и регистрации на рейс.
		li Фрахт самолетов, вертолетов и яхт: детальная проработка сценариев логистики для вашего удобства.
		li Аренда вилл и апартаментов: услуги по аренде недвижимости по всему миру. Наши клиенты традиционно обращаются к нам во время проведения таких мероприятий, как Венецианская биеннале, Манифеста, Art Basel, Frieze и других, которые со временем также стали нашими партнерами. Подбор оптимальной недвижимости во время мировых событий - сложный и кропотливый процесс. Для вашего удобства мы обеспечиваем персонального консьержа, который поможет реализовать пожелания Заказчика.
		li Консьерж сервис. Наиболее популярные запросы к нашим специалистам по консьерж-сервису включают бронирование мест в ресторанах, приобретение билетов на мероприятия и организацию трансферов и экскурсий. Кроме того, консьерж - директор нашей компании принадлежит к международному братству Les Clefs D’Or («Золотые ключи»), что является знаком высокого качества и профессионализма в индустрии гостеприимства. Благодаря принадлежности к международной системе взаимопомощи профессионалов мы можем обеспечить клиентам любые привилегии.