section.event-service#event-service
	h2 Event-service
	p.subtitle Конференции и семинары
	p Компания Rubymice предоставляет полный спектр услуг для организации мероприятий по MICE туризму. Наша команда имеет обширный опыт в организации различных мероприятий, включая конгрессы, выставки, деловые встречи, презентации, а также инцентивные мероприятия. Мы предоставляем комплексные решения, включающие в себя аренду помещений, организацию транспорта и размещения участников, обеспечение технической поддержки, организацию кофе-брейков и обедов, разработку маркетинговых материалов и многое другое. Наша команда специалистов готова взять на себя всю техническую поддержку вашего мероприятия, включая режиссуру, организацию звукового и светового шоу, обеспечение технического оборудования, организацию питания и многое другое. С нашим опытом и профессионализмом вы можете быть уверены, что ваше мероприятие пройдет гладко и без сбоев.
	p.subtitle Инцентивные (мотивационные) мероприятия
	p Компания Rubymice предоставляет следующие услуги для организации корпоративных мероприятий, направленных на мотивацию сотрудников:
	ul
		li Организация тимбилдинга
		li Организация корпоративных игр
		li Организация туров и семинаров
		li Организация командной формы работы вне офиса (remote teamwork)
		li Организация командировок и переездов сотрудников
		li Организация встреч с партнерами и клиентами вне офиса
		li Другие мероприятия по вашему запросу